:root {
  height: 100%;
  font-size: 1vw;
}

body {
  height: 100%;
  margin: 0;
}

.dialogue_overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialogue_overlay .dialogue_back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.dialogue_overlay .dialogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 1rem;
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.dialogue_overlay .dialogue .title {
  padding: 0 1rem;
  font-weight: bold;
  font-size: 2rem;
}
.dialogue_overlay .dialogue .content {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 48rem;
  max-height: 90vh;
}
.dialogue_overlay .dialogue .content .dialogue_option {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: box-shadow ease-out 0.1s;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  width: 10rem;
  gap: 1rem;
  font-size: 1.4rem;
  max-height: 30%;
}
.dialogue_overlay .dialogue .content .dialogue_option:hover {
  box-shadow: 0.3rem 0.3rem 0.5rem 0.1rem lightgray;
}
.dialogue_overlay .dialogue .content .dialogue_option img {
  max-width: 100%;
  max-height: 100%;
}

.theme_button {
  position: fixed;
  background: white;
  right: 2rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.root .day_card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: min(98vw, 1536px);
  height: min(80vh, min(98vw, 1536px) / 2);
  margin-top: 7.5vh;
  border-radius: 32px;
  border: 1px solid lightgray;
}
.root .day_card:not(:first-child) {
  margin-top: 5vh;
}
.root .day_card:last-child {
  margin-bottom: 7.5vh;
}
.root .sch_table {
  position: relative;
  display: table;
  border-collapse: collapse;
  height: 100%;
  table-layout: fixed;
  overflow: hidden;
  border-radius: 32px;
  box-shadow: 0 0.5rem 1rem 0.4rem rgb(240, 240, 240);
}
.root .sch_table .row.header .name {
  font-weight: bold;
  font-size: 1.2rem;
}
.root .sch_table .row.header .hour {
  text-align: left;
  color: rgb(103, 111, 126);
}
.root .sch_table .row {
  display: table-row;
  position: relative;
  height: calc(min(80vh, min(98vw, 1536px) / 2) / 8);
}
.root .sch_table .row .row-title {
  font-size: 1.2rem;
}
.root .sch_table .row .name-cell {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  width: calc(min(98vw, 1536px) / 26 * 2);
  font-size: 1.2rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.root .sch_table .row .name-cell .name {
  display: flex;
  align-items: center;
  padding-left: calc(1rem + 4px);
}
.root .sch_table .row .hour {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: calc(min(98vw, 1536px) / 26);
  font-size: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background linear 0.1s;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.root .sch_table .row .hour.selected {
  background: rgba(26, 184, 26, 0.2);
  cursor: move;
}
.root .sch_table .row .hour.disabled {
  background: rgb(245, 245, 245);
}
.root .sch_table .row .hour h3 {
  width: calc(min(98vw, 1536px) / 26);
  font-weight: normal;
  margin: 0;
}
.root .sch_table .row .hour h3 .time {
  font-size: 1.6rem;
  font-weight: bold;
}
.root .sch_table .row.active .name {
  border-left: 4px solid transparent;
  border-color: green;
  padding-left: 1rem;
  height: 100%;
}
.root .sch_table .row.active .hour:not(.selected):not(.disabled):hover {
  background: rgba(0, 0, 0, 0.1);
}
.root .sch_table .row .selection {
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background: rgba(100, 255, 100, 0.3);
  transform-origin: 0 50%;
  pointer-events: none;
}

.dark .root {
  color: rgb(156, 164, 177);
  background: rgb(27, 30, 34);
}
.dark .root .day_card {
  border-color: black;
}
.dark .root .day_card .sch_table {
  box-shadow: none;
}
.dark .root .row.active .hour:not(.selected):not(.disabled):hover {
  background: rgb(49, 54, 61);
}
.dark .root .row .name-cell {
  background: rgb(41, 45, 51);
}
.dark .root .row .hour {
  background: rgb(41, 45, 51);
  border-left: 1px solid rgb(49, 54, 61);
  border-bottom: 1px solid rgb(49, 54, 61);
}
.dark .root .row .hour.disabled {
  background: rgb(50, 54, 61);
}

.selection-left-border {
  display: none;
}

.selection-right-border {
  display: none;
}/*# sourceMappingURL=style.css.map */