:root {
    height: 100%;
    font-size: 1vw;
}

body {
    height: 100%;
    margin: 0;
}

.dialogue_overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .dialogue_back {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

    .dialogue {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        padding: 1rem;
        border-radius: 16px;
        font-family: Arial, Helvetica, sans-serif;

        .title {
            padding: 0 1rem;
            font-weight: bold;
            font-size: 2rem;
        }

        $content-height: 90vh;

        .content {
            display: inline-flex;
            flex-wrap: wrap;
            // justify-content: space-between;
            max-width: 42rem;
            max-height: 90vh;

            .dialogue_option {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                transition: box-shadow ease-out .1s;
                align-items: center;
                cursor: pointer;
                border-radius: 8px;
                width: 12rem;
                gap: 1rem;
                font-size: 1.4rem;
                max-height: 30%;

                &:hover {
                    box-shadow: 0.3rem 0.3rem 0.5rem .1rem lightgray;
                }
                
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    $table-width: min(98vw, 1536px);
    $table-height: min(80vh, $table-width / 2);

    .day_card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $table-width;
        height: $table-height;
        margin-top: 7.5vh;
        
        &:not(:first-child) {
            margin-top: 5vh;
        }
        
        &:last-child {
            margin-bottom: 7.5vh;
        }
    }

    .sch_table {
        position: relative;
        display: table;
        border-collapse: collapse;
        box-shadow: 0 0 2rem 1rem lightgray;
        height: 100%;
        border-radius: 32px;
        table-layout: fixed;

        .row.header {
            .name {
                font-weight: bold;
            }
            
            .hour {
                text-align: left;
            }
        }

        $box-width: calc($table-width / 25);
        $box-height: calc($table-height / 8);

        .row {
            display: table-row;
            position: relative;
            height: $box-height;
            
            .row-title {
                font-size: 1.2rem;
            }

            .name-cell {
                display: table-cell;
                text-align: left;
                vertical-align: middle;
                font-family: Helvetica, Arial, sans-serif;
                
                font-size: 1rem;
                box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%);

                .name {
                    border-left: 8px solid transparent;
                }
            }

            .hour {
                display: table-cell;
                text-align: center;
                vertical-align: middle;

                width: $box-width;
                
                font-size: .8rem;
                
                user-select: none;
                transition: background linear .1s;
            
                &.selected {
                    background: rgba(26, 184, 26, 0.2);
                    cursor: move;
                }

                &.disabled {
                    background: lightgrey;
                }
                
                h3 {
                    width: $box-width;
                    font-family: Helvetica, Arial, sans-serif;
                    font-weight: normal;
                    margin: 0;

                    .time {
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                }
            }

            &.active {
                .name {
                    padding-left: .4rem;
                    border-color: green;
                }

                .hour:not(.selected):not(.disabled) {
                    &:hover {
                        background: rgb(0 0 0 / 10%);
                    }
                }
            }

            .selection {
                position: absolute;
                left: 0;
                width: 1px;
                height: 100%;
                background: rgba(100, 255, 100, 0.3);
                transform-origin: 0 50%;
                pointer-events: none;
            }
        }
    }
}

.selection-left-border {
    display: none;
}

.selection-right-border {
    display: none;
}